.sup{
  display:flex;
  background-color:blue;
align-items:center;
  font-size:60px;
 flex-direction:row;
  justify-content:space-between;
}
.sub{
  background-color:purple;
  color:white;
  display:flex;
  width:400px;
  height:60px;

  align-items:center;
  justify-content:center;
 margin:2px;
  border:2px solid white; 
}
